@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.contenido{
    width:100%;
    height:800px;
    display:inline-block;
    overflow:hidden;
    min-width:320px;
    background: #fff;
    font-family: 'Architects Daughter', cursive;
}
  #informacion{
    width: 100%;

    /*height: auto;*/
    
  }
  #informacion ul{
    width: 100%;
    /*height: auto;*/
    text-align: center;
  }
  #informacion ul li{
    list-style: none;
    display: inline-block;
    width: 30%;
    vertical-align: top;
  }
.view {
    width: 250px;
    height: 150px;
    margin: 15px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}
.view .mask, .view .conent {
width: 250px;
    height: 150px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative;
    width:100%;  
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: hsla(0,0%,0%,0.8);
    margin: 20px 0 0 0;
}
.view p {
    font-family: 'Architects Daughter', cursive;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}
.view a.info:hover {
    box-shadow: 0 0 5px #000;
}

.view .mask {
    opacity: 0;
    background-color: #A7C9EB;
    transition: all 0.4s ease-in;
    transform: scale(0) rotate(-180deg);
}
.view:hover .mask { 
    opacity: 1;
    transform: scale(1) rotate(0deg);
    transition-delay: 0.2s;
}
.view img {
    transition: all 0.4s ease-in-out 0.2s;
    opacity: 1;
}
.view:hover img    { 
    transform: scale(0); 
    opacity: 0;
    transition-delay: 0s;
} 



/* General styles */
